.body  { font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif"; font-size: 50%; }
.label { border-bottom: none; overflow: hidden; font-size: 18px; text-shadow: none; }
.title { font-size: 18px; font-weight: bold; color: #4183c4; }
.pre { font-size: 14px; font-weight: bold; color: #4183c4; }

.header {
position: relative;
z-index: 10;
width: 100%;
height: 40px;
margin: 0px auto;
border-bottom: solid 1px rgb(90, 137, 195);
background-color: rgb(90, 137, 195);
line-height: 40px;
color: #ddd;
text-align: right;
text-shadow: 0px -1px 0px #131;
}
.header .nav {
padding: 0px;
list-style-type: none;
font-size: 0pt;
}

.header li.logo {
display: inline-block;
float: left;
font-size: 18pt;
font-weight: bold;
line-height: normal;
color: #fff;
margin: 3px 10px 0px 10px;
padding: 0px;
}

.header li {
display: inline-block;
height: 40px;
border: solid 1px transparent;
border-top: none;
border-bottom: none;
vertical-align: middle;
-webkit-transition: all 250ms ease-in-out;
-webkit-transition-property: border,background-color;
-moz-transition: all 250ms ease-in-out;
-moz-transition-property: border,background-color;
-o-transition: all 250ms ease-in-out;
-o-transition-property: border,background-color;
-ms-transition: all 250ms ease-in-out;
-ms-transition-property: border,background-color;
}

.header li a{
padding:0px 20px;
background:none;
text-align:center;
font-size:12pt;
color:#fff;
text-decoration:none
}
.footer {
position: relative;
z-index: 10;
width: 100%;
height: 40px;
margin: 0px auto;
border-bottom: solid 1px rgb(90, 137, 195);
background-color: rgb(90, 137, 195);
line-height: 40px;
color: #ddd;
text-align: right;
text-shadow: 0px -1px 0px #131;
}

.ui-widget-header {
  border: 0px solid #4297d7;
  background: #fff;
  color: #fff;
  font-weight: bold;
}

.ui-widget-content {
  border: 1px solid #a6c9e2;
  background: #fcfdfd;
  color: #222;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: #a6c9e2;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background: rgba(198, 201, 214, 0.8);
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 0px;
}

.table { border-spacing: 0px; font-size: 12pt; }
.th { border-spacing: 0px; padding: 5px 8px; }
.td { border-spacing: 0px; padding: 3px 8px; }
.td.l { font-weight: bold; width: 10%; }
.tr.e { background-color: #eeeeee; border-spacing: 0px; }
.tr.o { background-color: #ffffff; border-spacing: 0px; }

.pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    font-weight: bold;
}